 <script src="js/signup.js" type="text/javascript"></script>
 <div class="container-fluid text-center top-bar">
      <h1>OPEN SESAME</h1>
    </div>
    <div class="container mt-6">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 bg-dark rounded" id="op">
          <h2 class="mt-4 bg-gold text-center rcorners">Sign Up Form</h2>
          <form class="signup">
            <div class="form-group">
              <p class="text-gold text-center">Welcome to a place to securely store your passwords, 
                usernames, & utilize our built in password generator.
              </p>
              <label for="exampleInputEmail1" class="h2 text-gold"
                >Email address</label
              >
              <input
                type="email"
                class="form-control border"
                id="email-input"
                placeholder="Email"
              />
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1" class="h2 text-gold"
                >Password</label
              >
              <input
                type="password"
                class="form-control"
                id="password-input"
                placeholder="Password"
              />
            </div>
            <div
              style="display: none;"
              id="alert"
              class="alert alert-danger"
              role="alert"
            >
              <span
                class="glyphicon glyphicon-exclamation-sign"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Error:</span> <span class="msg"></span>
            </div>
            <div class="col text-center">
              <button type="submit" class="btn btn-default bg-gold">
                Sign Up
              </button>
            </div>
          </form>
          <br />
          <p class="bg-gold w-20 text-center">
            Or log in <a href="login">here</a>
          </p>
        </div>
      </div>
    </div>