form.signup,
form.login {
  margin-top: 50px;
}
.bg-gold {
  background-color: #F6F620;
  opacity: 90%;
}
.rcorners {
border-radius: 25px;
}

.main-paragraph {
  font-size: medium;
}
.mt-6 {
  margin-top: 90px;
}